---
title: Honeycomb Nozzle for PCF (Beta)
owner: Partners
---


<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Honeycomb Nozzle for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Honeycomb Nozzle for PCF. 

The Honeycomb Nozzle listens to the Pivotal Cloud Foundry logging Firehose,
parses all the messages it finds there, and sends them to the Honeycomb service,
https://honeycomb.io. 

In addition to the PCF-generated logs, application logs
that appear as JSON objects are parsed and included, so you can explore your
app performance using Honeycomb.

## <a id='overview'></a>Overview

Honeycomb Nozzle for PCF includes the following key features:

* Captures operational metrics about your infrastructure
* Captures system events and HTTP Start/Stop events
* Captures application logs

These are sent to Honeycomb for visualization and exploration.

**Note to authors: Add a couple of sentences about Honeycomb here. Assume that the reader does not know
what Honeycomb is or why it would be used in preference to any other nozzle.**

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Honeycomb Nozzle for PCF.

**Notes to authors: Make sure to complete the rows in this table.**

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 18, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>vYOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. v1.6.x, v1.7.x)</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.4.x, v1.5.x, v1.6.x)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS?, Azure?, GCP?, OpenStack?, and vSphere?</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Honeycomb Nozzle for PCF has the following requirements:

+ You must have or create an account on https://honeycomb.io before configuring the tile

+ You must have or create a PCF API service account with access to Doppler for the nozzle to use

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@honeycomb.io.

## <a id='license'></a>License

Honeycomb Nozzle for PCF is released under the Apache License 2.0
