---
title: Using Honeycomb Nozzle for PCF
owner: Partners
---

This topic describes how to use Honeycomb Nozzle for PCF.

##<a id='using'></a> Using Honeycomb Nozzle for PCF

Once installed, the nozzle should transparently send log events to Honeycomb. Log in to your Honeycomb account to see the events sent.

The Nozzle itself reports some statistics (to Honeycomb). To see these mesasges,
* log in to https://honeycomb.io
* use the `Log Messages` dataset
* under the `Samples` tab, check the field named `hnyNozzleAppID`
* record the value you see there (it should look something like `f787b2bb-e2e6-4d66-9cc0-e5491ebedbf3`)
* in the query builder, apply a filter: `logAppId = <your-app-id>`

After building this query, you'll see one event per second reporting the total number of events parsed and any errors.


